@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  min-width: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

img {
  display: block;
}

input,
button,
textarea {
  font: inherit;
  color: inherit;
}

a {
  font: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
