---
import Section from '../components/Section.astro'


export interface AboutProps {
    data: any;
}

const { data } = Astro.props;
const { basics } = data;
const { summary } = basics;
---

<!-- About -->
<Section title="Sobre mí">
    <p>{summary}</p>
</Section>
